body {
    background-color: rgb(62, 116, 114);
    font-family: Arial;
    color: white;
}
h1{
    color:rgb(62, 116, 114);
    font-family: verdana;
    }
.all_divs{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
      }
.maindiv {
    background-color: white;
    color: black ;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}
