body {
    background-color: rgb(62, 116, 114);
    font-family: Arial;
    color: black;
}
h1{
    color:rgb(62, 116, 114);
    font-family: verdana;
    }
.simple_interest {
    background-color: white;
    color: black ;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.unit_conversion{
    background-color: white;
    color: black ;
    padding: 20px;
    margin-top: 20px;
    border-radius: 25px;
    text-align: center;

}
/* ----Unit Conversion Calculator----*/
/* Navigation Bar Container*/

.topdiv {
    align-items: center;
  }
  
/* Navigation Bar Buttons */
  .topmenu {
    color: lightgray;
    background-color:   #483355;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration:none;
    border-radius: 1mm;
  }
  
  .topmenu:hover {
    color: white;
    font-weight: bolder;
    background-color: #382742;
    text-decoration: underline;
  }
  
/* Container for all the three conversion calculator sections   */
#all-conversion-sections{
    display: grid;
    justify-content: center;
}

figure {
    float:left; 
    justify-self: auto; 
    width:200px;
    height:250px;
    color: (62, 116, 114);
    display: grid;
    place-items: center;
}

img {
    width: 100px;
    margin-top: 10px;
}

figcaption {
    color: teal;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

button{
    color: white;
    font-size: 20px;
    border: transparent;
    width: fit-content;
    background-color: rgb(62, 116, 114);
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px;
}

button:hover {
    cursor: pointer;
}

/* The calculator panel */
.b{
    border-top-style: solid;
    background-color: white;
    border-top-width: 20px;
    padding-top: 20px;
    padding-right:20px;
    width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 35px;
    display: flex;
}

.temperature{
    border-top-color: green;
}

.weight{
    border-top-color: coral;
}

.distance{
    border-top-color: cyan;

}

legend {
    font-size: 25px;
    color: black;
    font-weight: bolder;
}

.calc {
    margin-left: 50px;
}

/* Floating icon for the home button */
.iconbutton{
    width:40px;
    height:40px;
    border-radius: 100%;
    background-color: rgb(225, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:40px;
    left:0;
    }

.iconbutton img {
    width:30px
}

footer{
    color:white;
}